@media (max-width: 1440px) {
  .nav-center .nav-item .nav-link {
    padding: 16px 9px !important;
  }
  .mobile-dropdown .dropdown button {
    padding: 7px 79px !important;
  }
  .head-container {
    padding: 0 7% !important;
  }
}

@media (max-width: 992px) {
  .mobile-dropdown .dropdown button {
    padding: 7px 76px !important;
  }
  .head-container {
    padding: 0 2% !important;
  }
}
@media (max-width: 768px) {
  .mobile-dropdown.desck-giv {
    display: none;
  }
  .mobile-dropdown.res-giv {
    display: flex !important;
    width: auto;
  }
  .nav-center {
    display: flex;
    flex-direction: row-reverse;
  }
.mobile-dropdown .dropdown-item {
  width: auto;
  border: none;
  }
  div#navbarSupportedContent {
    position: absolute;
    width: 100%;
    left: 0;
    background: #fff;
    top: 100%;
    border: 1px solid #cccccc8a;
    z-index: 9;
  }
  .nav-center .nav-item {
    text-align: center;
    border-bottom: 1px solid #cccccc7d;
  }
  .mobile-dropdown .dropdown button {
    padding: 9px 16px !important;
  }
  .mobile-dropdown.desck-giv {
    display: none;
  }
  .mobile-dropdown.res-giv {
    display: flex !important;
  }
  .nav-center {
    display: flex;
    flex-direction: row-reverse;
  }
  .mobile-dropdown .dropdown-item {
    width: auto;
    border: none;
  }
  .mobile-dropdown {
    width: auto;
  }
  .mentor-card {
    text-align: center;
  }
  .profile-title .mentor-card {
    text-align: left;
  }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .center {
    width: 70%;
    margin-bottom: 79px;
  }

  .center p {
    font-size: 13px;
    margin: 0;
  }
  .center h1 {
    font-size: 20px !important;
    margin: 0;
  }
  .logo {
    height: 80px;
    margin-top: -10px;
    transform: translate(0, 10%) !important;
    width: 50% !important;
    margin: 0 auto;
  }

  .banner {
    margin-top: -22px !important;
  }

  .mentor-card {
    text-align: center;
    margin-bottom: 30px;
  }
  .headersocial {
    display: none;
  }
  .mentorsarea {
    text-align: center;
  }

  .aaron-card {
    float: none;
  }

  .logo img {
    width: 100% !important;
    display: table;
  }
  .site-logo.mt-5 {
    margin-top: 42px !important;
  }
  .owl-nav {
    display: none;
  }
  .row.rowpara {
    margin-top: 0;
    padding: 20px 0 66px !important;
  }
  .site-logo.mt-5 {
    margin-top: 22px !important;
  }
  h1.sec-head span {
    font-size: 22px;
  }
  .become h1 {
    font-size: 23px !important;
    line-height: 30px;
  }

  .pxd-2 {
    padding: 30px 0;
    display: block;
  }
  .become h3 {
    font-size: 23px !important;
    line-height: 33px;
  }
  header.main-header {
    padding: 0;
  }
  .find-out-accordion button {
    font-size: 15px;
    padding: 14px 8px;
  }
  .icon-add-minus {
    position: relative;
  }
  .para-prof {
    height: 150px;
    overflow-y: auto;
  }
  .profile-title .mentor-card {
    margin-bottom: 0 !important;
  }
  button.close {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 999;
  }
  .prof-item-res {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .modal-content {
    padding: 8px 12px;
  }
  .para-prof p {
    text-align: center;
  }
  a.profile-link {
    margin: 0 auto;
  }
  .profile-title .mentor-card {
    text-align: center;
  }
  img.prof-img {
    box-shadow: 0px 0px 13px 2px #ccc;
    width: 35%;
  }
  .modal {
    padding-right: 0 !important;
  }
  .jumbotron-bg h2 {
    font-size: 20px !important;
  }
  a.profile-link {
    padding: 6px 20px;
    font-size: 15px;
  }
  .profile-title .mentor-card p {
    font-size: 15px;
    line-height: 20px;
  }
  .modal {
    top: 30px;
  }
}
@media screen and (max-width: 641px) and (max-width: 768px) {
  .headersocial {
    display: none;
  }
  .rowpara p {
    text-align: center;
    padding: 0 1%;
  }
  .px-2 {
    margin: 45px;
  }
  .become-points ul {
    margin-top: 37px;
  }
  .jumbotron-bg {
    width: 100%;
  }
  .sessoon-box {
    margin-bottom: 15px;
  }

  div#navbarSupportedContent {
    position: absolute;
    width: 100%;
    left: 0;
    background: #fff;
    top: 100%;
    border: 1px solid #cccccc8a;
    z-index: 9;
  }
  .nav-center .nav-item {
    text-align: center;
    border-bottom: 1px solid #cccccc7d;
  }
  .mobile-dropdown .dropdown button {
    padding: 9px 16px !important;
  }
  .mobile-dropdown.desck-giv {
    display: none;
  }
  .mobile-dropdown.res-giv {
    display: flex !important;
  }
  .nav-center {
    display: flex;
    flex-direction: row-reverse;
  }
  .mobile-dropdown .dropdown-item {
    width: auto;
    border: none;
  }
  .mobile-dropdown {
    width: auto;
  }
  .logo img {
    width: 80%;
  }
  img.img-fluid.res-logo {
    display: none;
  }
  .logo {
    margin: 0;
  }
  .site-logo {
    transform: translate(0%, 17%);
  }
  table.table.table-bordered.table-hover th {
    width: 33% !important;
  }
  .head-container {
    padding: 0 15px !important;
  }
  .main-logo {
    display: none;
  }
  .res-logo {
    display: block;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .headersocial {
    margin-left: 496px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .headersocial {
    margin-left: 715px;
  }
}
