
  @font-face{font-family:'HelveticaNeueLTStd';font-weight:normal;font-style:normal;}
  html{
      scroll-behavior: smooth;
  }
  body {
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  }
  a{
      color: #5d2568 !important;
  }
  .site-logo .logo {
      transform: translate(0%,18%);
      width:120px;
  }
  .site-logo {
      transform: translate(0%,-2%);
  }
  .site-logo img {
      width: 100%;
  }
  a:focus, a:hover {
      text-decoration: none !important;
  }

  @media (min-width: 1200px) {
      .container {
          max-width: 980px !important;
      }
  }

  /* Header */
  header.main-header {
      background: rgb(255 255 255);
      box-shadow: 0 0 8px 0px #ccc;
      padding: 10px 0;
      position: fixed;
      width: 100%;
      z-index: 999;
      top: 0;
  }
  .pxd-2 {
      padding: 30px 0;
      display: block;
  }
  header.main-header.header-sticky {
      position: fixed;
      width: 100%;
      animation: smoothScroll 1s forwards;
      background-color: #fff;
      z-index: 99;
  }
  .logo img {
      width: 100%;
  }
  .logo .navbar-brand {
    margin: 0;
}
  @keyframes smoothScroll {
      0% {
          transform: translateY(-40px);
      }
      100% {
          transform: translateY(0px);
      }
  }
  .main-nav{
      justify-content: space-between !important;
      padding: 0 !important;
  }
  #navbarSupportedContent .dropdown-menu {
      border-radius: 0;
      padding: 0;
      width: auto;
      margin: 0;
  }
  .nav-center li.nav-item.active a.nav-link {
      color: #461a55;
      font-weight: 500;
      font-size: 16px;
  }
  .nav-center .nav-item .nav-link:hover {
      color: #461a55 !important;
      font-weight: 500;
  }
  .nav-center .nav-item:hover .dropdown-menu {
      display: block;
      transition: all 0.5s;
  }
  .nav-center .nav-item{
      transition: all 0.5s;
  }
  #navbarSupportedContent .dropdown-menu .dropdown-item {
      padding: 7px 12px;
      border-bottom: 1px solid #ccc6;
      font-size: 14px;
  }
  .main-res-logo{
      display: none;
  }
  #navbarSupportedContent .dropdown-menu .dropdown-item:hover {
      background: #bf1e2d;
      color: #fff;
  }
  .btn-right-head .right-donate:last-child .navbar-right-btn {
      background-color: rgb(34 90 147);
      box-shadow: 5px 5px rgb(191 30 45);
  }
  .navbar-right-btn {
      background-color: rgb(191 30 45);
      color: white !important;
      box-shadow: 5px 5px rgb(34 90 147);
      transition: 0.5s;
      padding: 10px 17px;
      transition: all .5s !important;
      font-size: 15px;
      width: 100%;
      text-align: center;
  }
  .navbar-right-btn img {
      width: 18px !important;
      margin-right: 5px;
  }
  .btn-right-head a {
      padding: 9px 20px;
      font-size: 16px;
  }

  .donat-top{
      border: 2px solid #bf1e2d;
      background-color: #bf1e2d;
      color: #fff;
  }
  .pldege-top{
      border: 1px solid rgb(34 90 147);
      background-color: #fff;
      color: rgb(34 90 147);
  }
  a.dona-line {
      border: none;
      width: 2px;
      background: #ccc !important;
      display: table;
      padding: 0 !important;
      margin: 0 20px;
  }
  .desck-giv{
      display: block;
  }
  .res-giv{
      display: none !important;
  }
  .mobile-dropdown .dropdown button {
      background: #fcf5eb !important;
      border-radius: 0;
      border-color: #461a55 !important;
      padding: 13px 79px !important;
      color: #461a55 !important;
      font-weight: 600;
  }
  .mobile-dropdown {
      width: 140px;
      position: relative;
      display: table;
      margin-right: 14px;
  }

  .mobile-dropdown .dropdown-menu {
      border-radius: 0;
      margin-top: 0px;
      width: 100%;
      border: 1px solid #ddd;
      padding: 0 !important;
      min-width: 100% !important;
  }

  .mobile-dropdown .dropdown-item {
      width: 100%;
      padding: 11px 11px;
      display: block;
      margin: 0 !important;
      border-bottom: 1px solid #cccc;
      font-size: 14px;
      display: flex;
  }
  .mobile-dropdown .dropdown-item img {
      width: 20px;
  }
  .mobile-dropdown .dropdown:hover .dropdown-menu{
      display: block;
  }
  .dropdown:hover .dropdown-toggle::after {
      transform: rotate(
  180deg);
  transition: all 0.5s;
  }
  .mobile-dropdown .dropdown {
      width: 100%;
      position: relative;
      transition: all 0.5s;
  }

  .mobile-dropdown button {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 6px 12px !important;
      align-items: center;
      font-size: 16px;
      border: none;
      background-color: #fff;
      outline: none !important;
      color: #fff;
  }
  /* .btn-right-head a:first-child {
      margin-right: 49px;
  } */
  .right-donate {
      display: flex;
  }
  .btn-right-head .right-donate:first-child {
      margin-right: 38px;
  }
  .btn-right-head {
      display: flex;
  }
  .navbar-right-btn:hover {
      box-shadow: none;
      margin-left: 3px;
      /* margin-top: 9px; */
      transition: 0.1s;
  }
  .nav-center .nav-item .nav-link {
      padding: 16px 13px !important;
      transition: all 0.5s;
  }
  .sub-menu {
      position: absolute;
      left: 100%;
      top: 0;
      width: auto;
      display: none;
      border: 1px solid rgba(0,0,0,.15);
      z-index: 99;
  }
  .dropdown-menu li:hover .sub-menu {
      display: block;
  }
  .dropdown-menu li .sub-menu .dropdown-item{
      background-color: #fff;
  }
  /* Responsive Menu Bar Animation */
  .navbar-light .navbar-toggler {
      border: none;
      outline: none;
      padding: 0;
  }
    #nav-icon3{
      width: 39px;
      height: 25px;
      position: relative;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
    }

    #nav-icon3 span {
      display: block;
      position: absolute;
      height: 3px;
      width: 77%;
      background: #5d2568;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }



    #nav-icon3 span:nth-child(1) {
      top: 0px;
    }

    #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
      top: 9px;
    }

    #nav-icon3 span:nth-child(4) {
      top: 19px;
    }

    #nav-icon3.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

    #nav-icon3.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    #nav-icon3.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    #nav-icon3.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

  /* Responsive Menu Bar Animation */

  /* Header */
  .center {
      transform: translate(0%,-60%);
      margin: auto;
      width: 50%;
      padding: 2%;
      background: #461a55;
      color: #fff;
      transition: 0.5s;
      border: 6px solid #d6c196;
  }
  .center:hover {
      box-shadow: 5px 8px 9px #461a55;
  }
  .center p {
      font-size: 20px;
      margin: 0;
  }
  .center h1 {
      font-size: 30px;
      margin: 0;
  }
  .row.rowpara {
      margin-top: -60px;
      font-size: 18px;
      color: #515151;
  }
  .px-2 {
      margin: 80px;
  }
  .become p {
      text-align: center;
      font-size: 17px;
  }
  .become h1{
       font-size: 30px !important;
       font-weight: 700;
       color: #5d2568;
       text-align: center;
  }
  .become h3{
      font-size: 25px;
      color: #5d2568;
      font-weight: 700;
      line-height: 40px;
      margin-bottom: 30px;
  }
  .become-points {
      font-size: 18px;
      color: #515151;
      line-height: 1.5;
  }
  .become-points>ul>li {
      margin-right: 25px !important;
      box-shadow: 0 0 12px 3px #e8e6e9;
      padding: 10px 15px;
      margin-bottom: 22px;
      border-radius: 450px;
      color: #5d2468;
      font-weight: 500;
      border: 1px solid #5d2468;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  /* .become-points>ul>li:before{
      content: "\f111";
      color: #6d6d6d;
      font-family: FontAwesome;
      display: inline-block;
      margin-left: -2em;
      width: 2em;
      font-size: 10px;   
  } */
  .become-points ul{
      list-style-type: none;
      padding-left: 0;
  }
  .become-points ul li{
      text-align: left;
      line-height: 47px;
      font-weight: 600;
      color: #000;
      font-size: 15px;
  }
  .button {
    border-radius: 4px;
    background-color: #461a55;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  table {
      font-size: 18px;
      color: #515151;
      line-height: 1.5;
      box-shadow: 0 0 15px 1px #cccccc91;
  }
  .become-pointscal > ul > li {
      margin-bottom: 20px;
      font-size: 18px;
      color: #515151;
      line-height: 26px;
      list-style-type: none;
  }
  .become-pointscal > ul > li:before {
    content: "\f073"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
  }
  .jumbotron {
      background: #fbf5eb;
  }
  .mentorsarea h2 {
      color: #a8a8a8;
      font-size: 32px;
      font-weight: 600;
  }
  .mentorsarea h1 {
      color: #b20e0e;
      font-weight: 800;
      font-size: 40px;
  }
  .mentorsarea h1:after {
      content: "";
      width: 80px;
      height: 8px;
      background: #b20e0e;
      left: 18px;
      top: 100%;
      position: absolute;
  }
  .dhanani h1:after {
      content: "";
      width: 80px;
      height: 8px;
      background: #0859d6;
      left: 18px;
      top: 100%;
      position: absolute;
  }
  .mentor-card h2 {
      color: rgb(93 37 104);
      font-size: 22px !important;
      font-weight: 700;
      margin-top: 13px;
      margin-bottom: 0;
  }
  .mentor-card p {
      color: rgb(93 37 104);
      font-size: 17px;
      font-weight: 100;
      line-height: 24px;
      font-weight: 500;
  }
  .mentor-card.col-sm-6:hover {
      background: #c6c6c621;
  }
  .mentor-card.col-sm-3:hover {
      background: #c6c6c621;
  }
  .interest {
      color: #a8a8a8!important;
  }
  .mentor-card{
  }

  .aaron-card {
      float:right
  }
  .jumbotron h2 {
      font-size: 42px;
      font-weight: 600;
  }
  .footer{
      background-color: #fbf5eb;
      padding: 10px;
  }
  .footer p {
      color: #a8a8a8;
      margin-top: 10px;
  }
  .footer h3 {
      color: #5d2568;
      font-weight: 600;
      font-size: 20px !important;
  }
  a.fa.fa-facebook {
      padding: 2px 8px!important;
  }
  a.fa.fa-youtube-play {
      padding: 2px 4px!important;
  }
  a.fa.fa-instagram {
      padding: 2px 4px!important;
  }
  a.fa.fa-twitter {
      padding: 2px 4px!important;
  }
  a.fa.fa-linkedin {
      padding: 2px 4px!important;
  }
  .fa::before {
      color: #5d2568;
      font-size: 23px;
  }
  .container-fluid.text-center.footer a{
      /* font-size: 20px; color: #5d2568;
      margin-bottom: 10px; */
      color: #fbf5eb!important;
      border-radius: 4px;
      font-weight: lighter;
      font-size: 19px!important;
  }
  .col-sm-5 img, .col-lg-5 img{
      transition: 0.5s;
  }
  .col-sm-5 img:hover{
          box-shadow: 1px 6px 5px #461a55;
  }
  .rowpara p {
      text-align: center;
      padding: 35px 0% 0;
  }
  /* .col-lg-5 img:hover{
          box-shadow: 1px 6px 5px #461a55;
  } */
  .headersocial{

        position: absolute;
        font-size: 16px;
        margin-top: 40px;
        margin-left: 910px;
        z-index: 1;

  }
  .headersocial a{

      color: black;
      text-decoration: none;
  }




  .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
      border: 1px solid #ccc!important;
  }
  table.table.table-bordered.table-hover th {
      color: #5d2568;
  }
  .table-hover>tbody>tr {
      color: #5d2568!important;
  }
  .table-hover>tbody>tr:hover {
      background-color: transparent !important;
  }
  .vmiddle {
      /* display: inline-block;
      vertical-align: middle;
      float: none; */
  }

  @media only screen and (min-width: 768px) {
  .row.my-3-col-img .col-sm-2 {
      width: 25%!important;
  }
 
  .Dean-fellows .mentor-card img{
      width: 100%;
      /* height: 200px; */
  }
  }

  @media only screen and (max-width: 768px) {
  .center {
      margin-top: 40px;
      margin-bottom: 0px;
  }
  .row.rowpara {
      margin-top: -130px;
  }
  .col-lg-7.become.vmiddle {
      margin-top: 20px!important;
  }
  }



  /* New Css */

  .sessoon-box {
      border: 1px solid #461a55;
      padding: 41px 44px;
      box-shadow: 0 0 12px 3px #e8e6e9;
      position: relative;
  }


  .sessoon-box h3, .sessoon-box p {
      color: #461a55;
  }

  a.register-now {
      text-transform: capitalize;
      font-size: 20px;
      color: #461a55;
      font-weight: 500;
      border: 2px solid #461a55;
      padding: 13px 27px;
      margin-top: 34px;
  }
  section.session-details {
      padding-top: 25px;
  }
  img.hu-icon-transparent {
      position: absolute;
      right: 30px;
      transform: translateY(-50%);
      top: 50%;
  }
  .find-out-accordion {
      width: 100%;
  }
  .find-out-accordion .card-header {
      color: #fff;
      border-radius: 0 !important;
      background: transparent;
      border-right: none !important;
      border-top: none !important;
      border-left: none !important;
      padding: 0;
  }

  .find-out-accordion .card-header:hover {
      background: #5d2568;
  }
  .find-out-accordion .card-header:hover button{

      color: #fff !important;
  }
  .find-out-accordion .card.current .card-header button{

      color: #fff !important;
  }
  .text-cent p, .text-cent h1 {
      text-align: left;
  }
  .find-out-accordion button {
      color: #5d2568 !important;
      text-decoration: none !important;
      font-size: 18px;
      font-weight: 500;
      display: flex;
      justify-content: space-between;
      padding: 18px 18px;
  }
  .find-out-accordion .card.current .card-header button i{
      color: #Fff !important;
      filter: brightness(0) invert(1);
  }
  .fa-plus:before {
      content: "" !important;
      display: none;
  }
  .fa-minus:before {
      content: "" !important;
      display: none;
  }
  .dropdown-toggle::after{
      display: none !important;
  }
  .col-lg-6.become.vmiddle.text-cent {
      padding-top: 70px;
  }
  .find-out-accordion .card {
      border: 1px solid #5d2568 !important;
      border-radius: 0px;
      margin-bottom: 34px;
      box-shadow: 0 0 12px 3px #e8e6e9;
  }
  .find-out-accordion .card-body li {
      line-height: 30px;
      padding-bottom: 12px;
  }

  .head-container {
      padding: 0 14% !important;
  }
  .card-header:hover i{
      filter: brightness(0) invert(1);
  }
  .find-out-accordion button i.fa.fa-plus{
      display: none;
  }
  .find-out-accordion button i.fa.fa-minus{
      display: block;
  }
  .find-out-accordion button.collapsed i.fa.fa-minus {
      display: none;
  }
  .find-out-accordion button.collapsed i.fa.fa-plus {
      display: block;
  }
  .res-logo{
      display: none;
  }
  .site-logo.mt-5 {
      margin-top: 102px !important;
  }
  .owl-nav {
      position: absolute;
      top: 36%;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-between;
      width: 100%;
  }
  .owl-nav button{

      background: #fff !important;
      border-radius: 0 !important;
      position: absolute;
      width: 44px;
      height: 54px;
      box-shadow: 0 0 12px 1px #ccccccba;
      outline: none;

  }
  .owl-prev {
      left: -28px;
  }
  .owl-next{
      right: -28px;
  }
  .owl-theme .owl-nav [class*=owl-]:hover {
      color: #000 !important;
      outline: none;
  }

  .owl-theme .owl-nav .disabled {
      opacity: 1 !important;
  }
  .owl-dots {
      margin-top: 21px;
  }
  h1.sec-head span {
      display: block;
      font-weight: 300;
      font-size: 26px;
  }

  .become-points ul h2 {
      background: #fcf5eb;
      font-size: 17px !important;
      padding: 10px 0;
      font-weight: 700;
      color: #5d2568;
  }
  .mentor-card p span {
      display: block;
      padding-top: 7px;
      font-size: 15px;
      color: #888;
      line-height: 22px;
  }
  .anchor-bold{
      font-weight: 500;
  }
  .social-heading{
      justify-content: center;
      display: flex;
      align-items: center;
  }
  div#section1 {
      padding: 17px 0;
  }
  .find-out-accordion .card.current .card-header {
      background: #5d2568;
  }

  .container.margin-register {
    margin-top: 73px;
}

/* Modal Css */
.modal-dialog {
    max-width: 850px !important;
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 15%);
    top: 45%;
    transform: translateY(-50%) !important;
}
.modal-content {
    border-radius: 0px !important;
    padding: 30px 30px;
}
a.profile-link {
    border: 1px solid #5d2568;
    color: #5d2568;
    padding: 10px 20px;
    display: table;
}
a.profile-link:hover {
    color: #fff;
    background-color: #5d2568;
    transition: all 0.5s;
}
img.prof-img {
    box-shadow: 0px 0px 13px 2px #ccc;
}
.jumbotron-bg {
    padding: 20px 0;
    background: #fcf5eb;
    width: 100%;
}
.card-header button {
    display: flex;
    align-items: center;
}